{% extends 'base.html' %}
{% block title %}My Profile{% endblock %}
{% block content %}


<div style="align-items: center;">Welcome, {{ user.full_name }}</div>
<br>


<div class="container" style="border: 5px thin gray; padding: 5px; margin: auto; width: 400px; float: left;">

    <tr>
        <td><img style="padding: 10px;" src="{{ user.avatar(80) }}"></td>
        <td>{{current_user.full_name }}
        <p>{% if current_user.about_user %}
                {{ current_user.about_user }} <span><a href="{{ url_for('views.edit_profile', id=current_user.id) }}">Edit Profile</a></span>
            {% else %}<a href="{{ url_for('views.edit_profile', id=current_user.id) }}"> Edit Profile</a>
            {% endif %}
        </p>
        {% if current_user.user_last_seen %}<p><i><small>Last seen: {{ current_user.user_last_seen }}</small></i></p>
        {% endif %}</td>
        
    </tr>
    
    <!--<form action="POST">
        <p>
            <h3 align="center">Edit Profile</h3>
        </p>
        <div class="form-group">
            <label for="full_name">Edit your name</label>
            <input type="text" class="form-control" id="full_name" name="full_name"></input>
            <br>
            <label for="about_user">Edit your Bio</label>
            <textarea name="about_user" id="about_user" cols="20" rows="5" class="form-control" placeholder="Write something about yourself..." ></textarea>
        </div>
    
    </form>-->
    
</div>







{% endblock %}